html {
    @apply h-full;
}
body {
    @apply flex min-h-full flex-col bg-surface-100 text-neutral-800 dark:bg-surface-700 dark:text-neutral-200;

    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
    @apply text-3xl font-bold text-neutral-700 dark:text-neutral-300;
}

h2 {
    @apply text-2xl font-bold text-neutral-700 dark:text-neutral-300;
}

h3 {
    @apply text-xl font-bold text-neutral-700 dark:text-neutral-300;
}

p {
    @apply text-neutral-700 dark:text-neutral-300;
}

a {
    @apply text-neutral-700 hover:text-neutral-800 dark:text-neutral-300 hover:dark:text-neutral-500;
}
