<p-card class="p-6 shadow-lg w-full">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Icons</p-tab>
            <p-tab value="1">Typography</p-tab>
            <p-tab value="2">Others</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <rr-icons-demo></rr-icons-demo>
            </p-tabpanel>

            <p-tabpanel value="1">
                <rr-typography-demo></rr-typography-demo>
            </p-tabpanel>

            <p-tabpanel value="2">
                <rr-others-demo></rr-others-demo>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-card>
